/* DropzoneStyles.css */
.wrapper {
	position: relative;
	margin-bottom: 30px;
}

.dropzone {
	border: 1px dashed #ccc;
	padding-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	transition: border-color 0.4s;
}

.dropzone:hover {
	border-color: blue;
}

.icon {
	color: #666;
}

.control {
	position: absolute;
	width: 250px;
	bottom: 20px;
}
