.app {
	font-family: Arial, sans-serif;
	max-width: 650px;
	margin: auto;
	text-align: center;
}

input[type="file"] {
	margin: 10px 0;
}

select {
	margin: 10px 10px 10px 0;
}

button {
	cursor: pointer;
}
